*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:azure;
}
.container{
    border: 2px solid;
    height: 500px;
    width: 450px;
    background-color:rgb(15, 16, 16);
    border-radius: 20px;
}
input{
    height: 60px;
    width: 380px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    text-align: end;
    background-color: rgb(59, 56, 56);
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    color: aqua;
    font-weight: 100;

}
button{
    width: 60px;
    height: 60px;
    border: none;
    border-radius:50%;
    padding: 5px;
    margin-bottom: 20px;
    margin-left: 40px ;
    background-color: transparent;
    color: aqua;
    box-shadow: 0px 2px 2px 0px rgb(103, 99, 99);
    cursor: pointer;
    overflow: hidden;
    transition: all ease;
    opacity: 1;
}
button:hover{
    transform: translateY(-2px);
    background-color: rgba(108, 108, 104, 0.552);
}
.operator{
    background-color: orange;
}
.operator1{
    background-color: hwb(120 3% 74% / 0.995);
}